.App {
  text-align: center;
  min-width: 480px;
  flex-grow: 1;
  background-color: #fafafa;
}

.app-logo {
  height: 20px;
  margin: 0 16px;
}

.issue-token-title {
  margin: 20px;
}

.not-enough-trx-message {
  margin: 0 20px 20px;
}

.no-token {
  min-width: 440px;
}

.create-token-container,
.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 20px;
}

.card {
  margin-top: 20px; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tron-logo {
  margin-top: 20px;
  height: 40px;
}

.balance {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 400;
}

.price {
  margin-top: 5px;
  font-size: 14px;
  color: darkgray;
}

.address {
  margin-top: 20px;
  font-size: 12px;
}

.account-details-card, 
.send-card,
.tron-power-card,
.tokens-card {
  margin-top: 20px;
  padding-top: 20px;
}

.transactions-card {
  margin: 20px 0;
  padding: 20px 0;
}

.tokens-card {
  padding-bottom: 20px;
}

.send-card {
  padding-bottom: 40px;
}

.account-details-address {
  padding-left: 20px;
}

.account-details-button-container, .buttons-container {
  padding: 0 20px;
}

.account-details-button-container button, 
.buttons-container button {
  width: 100%;
  height: 60px;
  margin-top: 20px;
}

.account-details-button-icon,
.receive-button-icon,
.send-button-icon {
  margin-left: 10px;
}

.hide {
  display: none;
}

.show-private-key {
  width: 440px;
  margin-top: 10px;
}

.send-card .send-to,
.send-card .send-token,
.send-card .send-amount,
#send-token-button,
#freeze-token-button,
#unfreeze-token-button,
.send-card .freeze-amount,
.send-card .unfreeze-message,
.sign-in-card .private-key-field,
.sign-in-button,
.not-enough-trx-message,
.buy-token-card .buy-amount,
.buy-token-card .buy-button
 {
  width: 80%;
}

#send-token-button,
#freeze-token-button,
#unfreeze-token-button, {
  margin: 20px 0 40px;
}

.tron-power-description {
  font-size: 14px;
  padding: 0 20px;
  text-align: justify;
}

.token-buttons,
.tron-power-buttons {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.token-buttons button,
.tron-power-buttons button {
  width: 150px;
}

.tokens-table-container {
  width: 100%;
}

.token-buttons {
  margin-top: 20px;
}

.frozen-tokens {
  color: darkgray;
  font-size: 14px;
  margin-bottom: 14px;
}

.green {
  color: green;
}

.red {
  color: red
}

.unfreeze-message {
  text-align: justify;
}

.vote-countdown {
  color: gray;
  margin-bottom: 10px;
}

.vote-button-container {
  margin-bottom: 20px;
}

.vote-button {
  width: 410px;
}

.vote-card {
  margin-bottom: 20px;
}

.vote-card p {
  text-align: center;
}

.vote-container {
  padding: 0 20px 20px;
}

#vote-search-term-container label {
  color:rgb(255, 255, 255, 0.85);
}

#vote-search-term {
  width: 300px;
  color: white;
}

#submit-vote-button {
  margin-left: 20px;
}

.vote-table, .transactions-table {
  width: 100%;
}

.vote-table .super-representative-number,
.vote-table .super-representative-name,
.vote-table .super-representative-votes,
.vote-table .super-representative-your-vote,
.transactions-table .transactions-time-hash,
.transactions-table .transactions-addresses,
.transactions-table .transactions-amount,
.transactions-table .transactions-token {
  padding: 0 0 0 10px;
}

.vote-table .vote-amount {
  width: 60px;
}

.sign-in-card,
.create-account-card {
  width: 440px;
  padding: 20px 0;
  
}

.sign-in-card {
  margin: 20px 20px 0 20px;
}

.create-account-card {
  margin: 0 20px 20px;
}

.tool-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.logo-container {
  display: flex;
  align-items: center;
}

.show-private-key,
.private-key {
  word-wrap: break-word;
}

.account-details-address {
  margin-bottom: 20px;
}

.view-transactions-on-tronscan-button {
  margin-top: 10px; 
}

.token-price-description {
  width: 440px;
}

.private-key-warrning {
  color: red;
}

.buy-token-container {
  padding-bottom: 20px;
}

.buy-token-card {
  padding: 0 20px 20px;
}

.buy-token-desription {
  width: 80%;
}

.progress-desription {
  width: 80%;
  margin: 10px 0 2px 0;
  display: flex;
  justify-content: space-between;
}

.progress-sold {
  color: #3f51b5;
}

.progress-total {
  color: gray;
}

.progress {
  width: 80%;
  height: 15px;
  line-height: 15px;
  background-color: lightgray;
  margin-bottom: 10px;
}

.progress-bar {
  background-color: #3f51b5;
  text-align: center;
  height: 15px;
  line-height: 15px;
}

.progress-ends {
  color: gray;
  margin-bottom: 10px;
}

.buy-rate {
  color: #3f51b5;
}

.buy-message {
  color: gray;
}

.buy-token-card .buy-button {
  margin-top: 10px;
}

.buy-token-card .buy-amount {
  margin-top: 2px;
}